body {
  background-color: white;
}
.data-list {
  color: black;
}
.info-list {
  font-weight: bold;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
table {
  font-family: arial;
}
th, td {
  border-bottom: 1px solid #ddd;
  padding: 5px;
}
tr:hover {
  background-color: lightgrey;
}
.datatext {
  font-family: arial;
  font-size: 15px;
}
.title_line {
  text-align: center;
}
.title_map {
  text-align: center;
}
.title_pie {
  text-align: center;
}
.svg {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.legend {
  fill: white;
  stroke: #000;
}
.leg_text {
  font-family: arial;
  font-size: 15px;
}
.titles {
  font-family: arial;
  font-size: 20px;
}
/* Tooltip CSS */
.d3-tip {
  line-height: 1;
  font-family: arial;
  font-size: 14px;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: lightgrey;
  border-radius: 1px;
  pointer-events: none;
}
.details {
  color: white;
  font-weight: lighter;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 8px;
  width: 100%;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.6);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}
.warning {
  text-align: center;
  background-color: lightblue;
  border-color: blue;
  border-style: solid;
  border-width: 1px;
}
.tick {
  font: 15px arial;
}
.y-axis-text, .x-axis-text {
  font: 17px arial;
  font-weight: bold;
}
h6 {
  font: 18px arial;
}
label {
  font: 15px arial;
}
body {
  background-color: white;
}
.navbar {
  font-family: arial;
}
h4, h5 {
  font-family: arial;
}
p {
  font-family: 15px arial;
}
